@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
        <span style="color:green">Menu bottom content</span>
    </div>

    <main>
        <div class="top-row px-4">
            <span style="color:orange">Body top content</span>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="Color" Name="Color">
                <CascadingValue Value="Size" Name="Size">
                    @Body
                </CascadingValue>
            </CascadingValue>
@*             <GameIndustry.Pages.Counter></GameIndustry.Pages.Counter> *@
        </article>
    </main>
</div>

@code{
string Color = "blue";
string Size = "65px";
}